<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="center-section">
        <h2>Szkoła językowa</h2>
        <h3>LoremIpsum</h3>
       
    </div>
</body>
</html>